
#header{
    background: linear-gradient(to bottom, #B8D7D5, #edfdf2);
    border-bottom: 1px solid #b9b9bc;
    /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
    padding-bottom: 5px;
}
.b-l{
    border-left: 2px solid #b9b9bc;
}

.banner {
    border-bottom: 1px solid #cbcbcd;
    background: #316064;
}

.banner a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.header-search {
    padding: 15px 0px;
}

.header-search form {
    position: relative;
}

.header-search form .input {
    margin-right: -4px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid lightgray;
}

.header-search form .search-btn {
    height: 40px;
    padding: 0px 20px;
    width: 100px;
    background: #316064;
    color: #FFF;
    font-weight: 700;
    border: none;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid lightgray;

}

.account-menu {
    position: relative;
    padding-left: 0;
}

.account-menu .account:hover .subnav{
    display: block;
}

.account-menu .subnav a:hover,
.account-menu .account a:hover {
    color: #1a4e51;
    font-weight: bold;
}

.account-menu .account  a{
    text-decoration: none;
    color: black;
    padding-top: 3px;
    font-size: 20px;
    font-weight: 400;
}

.account-menu .account a:hover .subnav,
.account-menu .account i:hover .subnav{
    display: block;
}

.account-menu .subnav{
    display: none;
    position: absolute;
    background: #f3f6f7;
    width: 105px;
    padding: 2px 15px 5px 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.account-menu .subnav a{
    display: block;
    font-size: 16px;
    line-height: 45px;
}
.shopping-cart{
    padding-left: 20px;
}

.shopping-cart i{
    /*background: #236844;*/
    border-radius: 50%;
    padding: 13px 10px 10px 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

/*NAVIGATION*/

#navigation{
    background: #316064;
    border-bottom: 1px solid #b9b9bc;
    height: 40px;

}

#navigation li a{
    text-decoration: none;
    color: white;

}

#responsive-nav li a:hover{
    color: #1a4e51;
    font-weight: bold;
}

#navigation .container{
    padding-top: 5px;
}

.main-nav .nav-item{
    margin-top: 1px;
    padding-left: 15px;
    padding-right: 10px;
}

.main-nav .nav-item a{
    font-weight: 550;
}

.main-nav>li>a:hover, .main-nav>li>a:focus, .main-nav>li.active>a {
    color: white;
    background-color: transparent;
    /* border-bottom: 2px solid white; */
}

.main-nav>li>a:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    border-bottom: 2px solid white;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}
.main-nav>li>a:hover:after, .main-nav>li>a:focus:after, .main-nav>li.active>a:after {
    width: 100%;

}

@media (min-width: 1200px) {
    .header-search .search-input {
        max-width: 250px; /* Giảm kích thước khi màn hình rất rộng */
    }
}


